.AreYouReady {
    // background: linear-gradient(0deg, rgba(0, 0, 0, 0.418), rgb(0, 0, 0)), url("../../images/wp4676582-4k-pc-wallpapers.jpg") !important;
    width: 100%;
    min-height: 100vh;
    background-position:center;
    background-repeat: no-repeat;
    background-size:contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_inner {
        overflow: hidden;
        position: relative;
        height: 500px;
        width: 250% !important;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background-color: rgba(128, 128, 128, 0.377);
        border-radius: 50px;
    }


    &_heading {
        position: relative;
        width: 150%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 50px;


        h5 {
            color: white;
            font-size: 50px;
            margin: 50px 0px;
        }

        p {
            color: white;
            font-size: 20px;
            margin-top: 20px;  
        }
    }

    button {
        background-color: rgba(255, 255, 255, 0.322);
        border-radius: 20px;
        height: 40px;
        width: 60%;
        color: white;
        border: none;
        outline: none;
    }
    
}